<div class="popular-chat-swiper">
  <div class="popular-chat-swiper__show-container">
    <svg class="svg-icon popular-chat-swiper__arrow-left svg-settings--widgets--arrow-left-dims">
      <use xlink:href="#settings--widgets--arrow-left"></use>
    </svg>
    {% for key, img in imgs %}
      <img data-key="{{ key }}" src="{{ path }}/images/{{ img }}" class="popular-chat-swiper__img">
    {% endfor %}
    <svg class="svg-icon popular-chat-swiper__arrow-right svg-settings--widgets--arrow-left-dims ">
      <use xlink:href="#settings--widgets--arrow-left"></use>
    </svg>
  </div>
  <div class="popular-chat-swiper__mini-container">
    {# тут должны быть маленькие картинки #}
    {% for key, img in imgs %}
      <img data-key="{{ key }}" src="{{ path }}/images/{{ img }}" class="popular-chat-swiper__img">
    {% endfor %}
  </div>
</div>